<div class="grand-container">
    <h1>Welcome to CSE Motors!</h1>
    <!-- <%- messages() %> -->
    <div class="main-container">
        <div class="container1">
            <strong><p>DMC Delorean</p></strong>
            <p class="container1-card">3 Cup holders</p>
            <p class="container1-card">Superman doors</p>
            <p class="container1-card">Fuzzy dicel</p>
            <button class="todaybtn"><a>Own Today</a></button>
        </div>
        <div class="container-delorean-image">
            <img src="../images/vehicles/delorean-tn.jpg" alt="Delorean image" id="delorean-image">
        </div>
    </div>
    <div class="content-container">
        <div class="delorean-upgrades">
            <h2>Delorean Upgrades</h2>
            <div class="images-container">
                <div class="upgrade1">
                    <img class="image1" src="images/upgrades/flux-cap.png" alt="Flux capacitor">
                    <p>Flux Capacitor</p>
                </div>
                
                <div class="upgrade2">
                    <img class="image2" src="images/upgrades/flame-fotor-bg-remover-2024071323317.png" alt="Flame Decals">
                    <p>Flame Decals</p>
                </div>
    
                <div class="upgrade3">
                    <img class="image3" src="images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                    <p>Bumper Stickers</p>
                </div>
    
                <div class="upgrade4">
                    <img class="image4" src="images/upgrades/hub-cap-fotor-bg-remover-2024071323335.png" alt="Hub Caps">
                    <p>Hub Caps</p>
                </div>
            </div>
        </div>
    
        <div class="delorean-reviews">
            <h2>DMC Delorean Reviews</h2>
            <ul class="reviews">
                <li>"So fast it´s almost like traveling in time". (4/5)</li>
                <li>"Coolest ride on the road". (4/5)</li>
                <li>"I'm feeling Mcfly!". (5/5)</li>
                <li>"The most futuristic ride of our day". (4.5/5)</li>
                <li>"80´s livin and I love it!". (5/5)</li>
            </ul>
        </div>
    </div>
    
</div>